body {
	font-family: 'Lato', Georgia, Times, Serif;
	font-size: 11px;
	line-height: 1.5;
}

img {
	max-width: 100%;
}

.menu_bar {
	font-weight: 700;
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	clear: none;
	border-bottom: solid 0.125em;
	border-top: solid 0.125em;
	display: block;
	float: left;
	margin: 0 auto 0px;
	width: 100%;
}
.menu_bar ul {
	list-style: none;
	margin: 0 0 0 -10px;
	padding: 0;
}
.menu_bar li {
	float: left;
	padding: 0 10px;
	line-height: 38px;
}

.navigation-label,
.nav-jump-to-content,
.pagination,

.item-pagination {

	font-size:.9em;

	width:auto;

	padding:0;

	clear:both;

}

	.pagination li,

	.item-pagination li {

		display:inline;

		padding:0 .25em;

	}

	.pagination a,

.pagination ul {

	display:inline;

	margin: 0;

	padding: 0;

}
.hidden  {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#banner {
	min-height: 60px;
}

#content {
	clear:both;
	font-size: 133%;
}

#featured-content {
	margin:5ex 0 2ex 0;
	width:100%;
}

#featured-content>section {
	position:relative;
	overflow:hidden; /* expand section to fit content */
}

#header-buttons {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	white-space: nowrap;
}

#header-buttons li {
	padding: 0 0.5em;
  display: inline-block;
}

#simple-search {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 30px;
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position:relative;
}

@media (min-width: 62em) { /* put featured content in a row on large screens */

	#featured-content.two-sections>section {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display:inline-block;
		width:48%;
		padding-right:2%;
		vertical-align:top;
		position:relative;
	}

	#featured-content.three-sections>section {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display:inline-block;
		max-width:32%;
		padding-right:1%;
		vertical-align:top;
		width:33%;
	}

}

.featured-item img {
  display: block;
}
