/*
Table of Contents
=================
-- Imports
-- Global Variables
-- Mixins
-- General HTML Elements
-- Global
-- Navigation
-- Header
-- Footer
-- Content
-- Home Page
-- Exhibits
-- Media Queries
*/
/* !-- Imports ----------------------------------------------------------- */
@import (inline) 'normalize.css';
@import (inline) 'navigataur.css';

/* !-- Global Variables -------------------------------------------------- */
// Background Colors/Images
@body-background: #FFFAF0;
@background: #FFFFFF;

// Foreground Collors
@main-color:     #333333;
@accent-color:   #722327;
@contrast-color: #006C64;

// Dimensions
// dimensions given hear should be for mobile site-title
// they may be overridden as appropriate for other screen sizes
@content-margin: 5px;

/* !-- Mixins ------------------------------------------------------------ */
.accessible-hide() {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* !-- General HTML Elements --------------------------------------------- */
body {
    font-family: 'Lato', Georgia, Times, Serif;
    font-size: 11px;
    line-height: 1.5;
    background: @body-background;
    color: @main-color;
}
img {
    max-width: 100%;
}
a {
    color: @accent-color;
    &:hover {
        color: @contrast-color;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: @contrast-color;
}

/* !-- Global ------------------------------------------------------------ */
#wrapper {
    max-width: 1200px;
    padding: 0 @content-margin;
    margin: 0 auto;
    position:relative;
    background: @background;
}
.description img {
    max-width: 33%;
    float: left;
    margin: 0.5em 1em 1em 1em;
}

/* !-- Navigation -------------------------------------------------------- */
.pagination,
.item-pagination {
    font-size:.9em;
    width:auto;
    padding:0;
    clear:both;
    li {
        display:inline;
        padding:0 .25em;
    }
    a,
    ul {
        display:inline;
        margin: 0;
        padding: 0;
    }
}
.navigation-label,
.nav-jump-to-content {
    .accessible-hide();
}
/* !-- Header ------------------------------------------------------------ */
.menu_bar {
    font-weight: 700;
    font-size: 120%;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    clear: none;
    border-bottom: solid 0.125em;
    border-top: solid 0.125em;
    display: block;
    float: left;
    margin: 0 auto 0px;
    width: 100%;
}
.menu_bar ul {
    list-style: none;
    margin: 0 0 0 -10px;
    padding: 0;
}
.menu_bar li {
    float: left;
    padding: 0 10px;
    line-height: 38px;
}
#banner {
    min-height: 100px;
}
#header-buttons {
    margin: 1em;
    li {
        padding: 0 0.5em;
        display: inline-block;
    }
}
#simple-search {
  margin: 1em;
}

.navigation {
    padding: 0;
}
/* !-- Footer ------------------------------------------------------------ */
/* !-- Content ----------------------------------------------------------- */
#content {
    clear:both;
    font-size: 133%;
    margin: 0 5px;
}
/* !-- Home Page --------------------------------------------------------- */
#home-page-text {
    padding: 0.5em 0;
}
#featured-content {
    width:100%;
    
    a {
        text-decoration: none;
        color: @main-color;
        h3 {
          text-decoration:underline;
          color: @main-color;
          margin: 0.25em 0;
        }
    }
    
    h2 {
        margin: 0.25em 0;
        border-bottom: 1px solid @contrast-color;
    }
    
    .description {
        margin-top: 0.5em;
        img {
            max-width: 100%;
            float: none;
            margin: 0;
        }
    }
    &>section {
        position:relative;
        overflow:hidden; /* expand section to fit content */
    }
}
.featured-item img {
  display: block;
}
/* !-- Collections Browse ------------------------------------------------ */
.collections-browse-collection-entry  {
    display: block;
}
/* !-- Exhibits ---------------------------------------------------------- */
#exhibit-pages .exhibit-page-nav,
#exhibit-pages .exhibit-page-nav ul {
    padding: 0;
    margin: 0;
}
#exhibit-pages .exhibit-page-nav li {
    list-style: none;
    display: inline-block;
}
#exhibit-pages .exhibit-page-nav>li {
    display: block;
    margin-left: 1em;
}
#exhibit-pages .exhibit-page-nav .exhibit-title {
    font-size: xx-large;
}
/* !--Media Queries ------------------------------------------------------ */
@import 'screen.less' screen and (min-width: 800px);
