#site-title {
	margin:0;
	.screenSizeLarge({
			padding: 1em;
	})
}

.header {
	position: relative;
}
#banner {
	min-height: 100px;
}
#header-buttons {
	margin: 1em;
	li {
		padding: 0 0.5em;
		display: inline-block;
	}
	.screenSizeMedium({
		position: absolute;
		right: @contentMargin;
		top: @contentMargin;
		display: block;
		white-space: nowrap;
	});
	.screenSizeLarge({
		right: @contentMarginLarge;
		top: @contentMarginLarge/2;
	});
}
#simple-search {
	margin: 1em;
	.screenSizeMedium({
		display: inline-block;
		position: absolute;
		right: @contentMarginMedium;
		top: @contentMarginMedium + 30px;
	});
	.screenSizeLarge({
		right: @contentMarginLarge;
		top: @contentMarginLarge/2 + 30px;
	});
}
.navigation {
	padding: 0;
}
