/*
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 * local edits: Benjamin Kalish
 */

/*
 	Notes:

 	- Media queries should be edited in both style sections if you require
	  a different breakpoint for your navigation.

	- Toggle class & menu anchor tags in list items have box-sizing: border-box
	  style property to allow padding inside the container without conflicting with layout.

*/


/*--------------------------------
 Functional Styles (Required)
---------------------------------*/

/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/

@media only screen and (max-width: 768px){
	.toggle:after {
    color: @accent-color;
		content: attr(data-open);
		display: block;
		width: 100%;
		padding: 10px 50px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.toggle:hover:after{
		background: average(@contrast-color, @background);
	}

	#toggle:checked + div .toggle:after{
		content: attr(data-close);
    background: average(@contrast-color, @background);
	}
}
