@content-margin: 0.5in;

#wrapper {
  padding: @content-margin/2 @content-margin;
}

#header-buttons {
  right: @content-margin;
  top: @content-margin/2;
}

#simple-search {
  right: @content-margin;
  top: @content-margin/2 + 30px;
}

#site-title {
    padding: 1em;
}

#featured-content.two-sections>section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    width:48%;
    padding-right:2%;
    vertical-align:top;
    position:relative;
}

#featured-content.three-sections>section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    max-width:32%;
    padding-right:1%;
    vertical-align:top;
    width:33%;
}
