@content-margin: 0.5in;

#wrapper {
  padding: @content-margin;
}

#site-title {
    padding: 1em;
}
.menu_bar li {
  float: left;
  padding: 0 10px;
  line-height: 38px;
}
#featured-content.two-sections>section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    width:48%;
    padding-right:2%;
    vertical-align:top;
    position:relative;
}

#featured-content.three-sections>section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    max-width:32%;
    padding-right:1%;
    vertical-align:top;
    width:33%;
}

#header-buttons {
    position: absolute;
    right: @content-margin;
    top: @content-margin;
    display: block;
    white-space: nowrap;
}

#simple-search {
    display: inline-block;
    position: absolute;
    right: @content-margin;
    top: @content-margin + 30px;
}
